<div class="row">
    <div class ="col-12 mt-3">
        <img src="assets/koodihaaste.png" style="max-width: 100%;">
    </div>
    <div class ="col-12 mt-3" style="background-color: rgb(173, 204, 194);">
        <div class="form-group" style="font-size: 22px">
            <label for="lahto">Lähtöasema</label>
                <select class="form-control" [(ngModel)]="reitit.lahto" required>
                <option *ngFor="let lahto of reitit.asemat" [value]="lahto">{{lahto}}</option>
            </select>
            <label for="lahto">Pääteasema</label>
                <select class="form-control" [(ngModel)]="reitit.maali" required>
                <option *ngFor="let paateasema of reitit.asemat" [value]="paateasema">{{paateasema}}</option>
            </select>
            <button class="m-3" (click)="reitit.aloitaHaku()">Hae reitti</button>
        </div>

    <div *ngIf="reitit.lyhinReitti" style="background-color: rgb(173, 204, 194);">
        <div *ngFor="let reitti of reitit.lyhinReitti">
            <div style="margin-top:10px; padding: 5px; font-size: 22px; background-color: rgb(219, 219, 219);">
                <span>
                Lyhin reitti on: {{reitti.kuljettuReitti}}<br>
                Matka-aika on: {{reitti.kuljettuMatka}}<br>
                </span>
            </div>

            <div style="margin:10px; padding: 5px; font-size: 33px; background-color: rgb(219, 219, 219);">
                <ul style="list-style-type: none;">
                    <li *ngFor="let pari of reitti.linjaparit; let i = index"><span [ngStyle]="{'background-color':reitit.varit[reitti.linjat[i]], 'font-weight': 'bold', 'padding-top':'10px'}">
                        <span style="font-size: 50px" >{{pari[0]}}
                            <span class="material-icons" style="font-size: 40px">directions_bus</span>
                            <span class="material-icons" style="font-size: 48px">trending_flat</span>
                            <span style="font-size: 50px">{{pari[1]}}<br></span>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
